<form [formGroup]="form" (ngSubmit)="onFormSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" />
    <mat-error *ngIf="form.get('name')?.hasError('required')">
      Name is mandatory
    </mat-error>
    <mat-error *ngIf="form.get('name')?.hasError('maxlength')">
      50 characteres max
    </mat-error>
  </mat-form-field>

  <mat-form-field floatLabel="always">
    <mat-label>Price</mat-label>
    <input matInput type="number" placeholder="0" formControlName="price" />
    <span matTextPrefix>€&nbsp;</span>
    <mat-error *ngIf="form.get('price')?.hasError('required')">
      Price is mandatory
    </mat-error>
    <mat-error *ngIf="form.get('price')?.hasError('min')">
      Price must be superior to 0€
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error>Description is mandatory</mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary">
    <mat-icon fontIcon="add"></mat-icon>
    Add product
  </button>
</form>
